@import url('variables.css');

/* Estilo de contenedor */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    font-size: 68px;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--primary-text-color);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Efecto de cambio de color sutil */
@keyframes subtleColorChange {
    0% {
        color: var(--primary-text-color);
    }
    50% {
        color: #4A4A4A;
    }
    100% {
        color: var(--primary-text-color);
    }
}

/* Aplicar la animación al texto */
.wrapper h1 {
    animation: subtleColorChange 3s infinite ease-in-out;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        height: auto; /* Ajusta la altura automáticamente para contenido dinámico */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        text-align: center; /* Alinea el texto al centro */
        padding: 20px; /* Añade padding para evitar que el texto quede demasiado cerca de los bordes */
    }
    
    .wrapper h1 {
        font-size: 37px; /* Reduce el tamaño del texto para dispositivos móviles */
        font-family: var(--font-family);
        font-weight: 700;
        color: var(--primary-text-color);
        text-transform: uppercase;
        text-align: center;
        position: relative;
        overflow: hidden;
        margin: 0; /* Elimina el margen para que el texto no tenga espacio adicional */
    }
    
    /* Efecto de cambio de color sutil */
    @keyframes subtleColorChange {
        0% {
            color: var(--primary-text-color);
        }
        50% {
            color: #4A4A4A;
        }
        100% {
            color: var(--primary-text-color);
        }
    }
    
    /* Aplicar la animación al texto */
    .wrapper h1 {
        animation: subtleColorChange 4s infinite ease-in-out; /* Ajusta la duración para un efecto más suave */
    }
}
