@import url('variables.css');

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    flex: 1;
    background: var(--background-color); /* Fondo blanco para el main */
}

.text-content h1 {
    font-size: 68px;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--primary-text-color);
}

.text-content span {
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--secondary-text-color)
}

.wrapper h1 {
    margin: 15px 40px;
}

@media (max-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px; /* Ajusta el padding para pantallas más pequeñas */
        flex: 1;
        background: var(--background-color); /* Fondo blanco para el main */
    }


    .text-content span {
        font-size: 12px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
        font-family: var(--font-family);
        color: var(--secondary-text-color);
    }

    .wrapper h1 {
        margin: 10px 20px; /* Ajusta el margen para pantallas más pequeñas */
    }
}

