@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype'); /* Replace 'path_to_your_font_file.ttf' with the actual path */
}

p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	background-color: #3bc492;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 5px;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: #3d3d3d;
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.space
{
	margin-top:60px;	
}
/* ------------------------------------------------------------------------------
	Header
-------------------------------------------------------------------------------*/
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
}
#header .header-content {
	margin: 0 auto;
	padding: 0px 0;
	width: 100%;
	max-height: 100px;
	background-color: #fff; /* Set white background color */
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#header .logo {
	float: left;
	padding: 15px;
	margin-left: 120px;
	max-height: 100px;
	
}

#header.fixed .header-content {
	border-bottom: 0;
	padding: 2px 0;
}

#header.fixed .nav-toggle {
	top: 18px;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: rgba(0, 0, 0, 0.75);
	font-size: 17px;
	font-weight: 600;
	margin-left: 0px;
	margin-right: 120px;
	letter-spacing: 2px;
	line-height: 90px;
	text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
	color: #000000;
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #4b1685;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #4b1685;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/

.banner {
	background-color: #8C274C;
	min-height: 100vh;

}
.banner-text {
	padding-top: 15%;
	justify-content: center; /* Centering horizontally */
}
.banner-text h1 {
	color: #fff;
	font-family: "Roboto Slab";
	font-size: 110px;
	font-weight: 700;
	transform: translate(-5%,0%);
}

.profile-picture {
    float: right; /* Make the image float to the right */
	margin-left: 20px;
	margin-right: 58px;
	width: 255px; 
	height: 255px;
	margin-top: -155px;
	border-radius: 50%;
    border: 3px solid transparent; /* Set initial border color to transparent */
    box-shadow: 0 0 0 3px white; /* Create a white box-shadow */
    transition: box-shadow 0.3s ease;
	

}

.intro {
	color: #fff;
    font-size: 28px; 
	justify-content: center; /* Centering horizontally */
    line-height: 1.5; 
	transform: translate(-5%,0%);
}
.description {
	color: #2b2a2a;
	font-size: 23px;
	justify-content: center;
	font-weight: 350;
	letter-spacing: 3px;
	line-height: 27px;
	margin-top: 40px;
	transform: translate(-5%,0%);
	margin-bottom: 80px;
	text-align: left;
	max-width: 100%;
	background-color: #ffffff;
	padding: 20px;
    border-radius: 10px;
	
	
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	width: 100%;
    max-width: 1700px; /* Adjust as needed */
    margin: 0 auto;
}
/* ------------------------------------------------------------------------------
	Works
-------------------------------------------------------------------------------*/
.work {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;

  overflow: hidden;
  position: relative;
  visibility: hidden; }
  .work img
  {
	width:100%;
	height:100%;  
  }
  .work .overlay {
    background: rgba(64, 35, 97, 0.9);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transition: opacity, 0.3s;
    -o-transition: opacity, 0.3s;
    -webkit-transition: opacity, 0.3s;
    transition: opacity, 0.3s; }
  .work .overlay-caption {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .work h5, .work p, .work img {
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s; }
  .work h5, .work p {
    color: #fff;
    margin: 0;
    opacity: 0; }
  .work h5 {
    margin-bottom: 5px;
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  .work p {
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0); }

.work-box:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }
.work-box:hover .overlay {
  opacity: 1; }
  .work-box:hover .overlay h5, .work-box:hover .overlay p {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
	
	/* ------------------------------------------------------------------------------
	Work animation
-------------------------------------------------------------------------------*/
.work:nth-child(1) {
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.work:nth-child(2) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.work:nth-child(3) {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.work:nth-child(4) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.work:nth-child(5) {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
.work:nth-child(6) {
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.work:nth-child(7) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
.work:nth-child(8) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.animated {
  visibility: visible; }
  
/* ------------------------------------------------------------------------------
	Hire me
-------------------------------------------------------------------------------*/
.hireme {
	background-color: #fafafa;
	width: 100%;
	z-index: 999;
	margin: 0 auto;
	padding: 80px 0;
	max-height: 150px;

}
.hireme h3 {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 200;
	margin-top: 0;
	letter-spacing: 7px;
	text-transform: uppercase;
}
.hireme p {
	color: #2d3033;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.hireme .btn {
	margin-top: 30px;
	color: #000000;
	background-color: #8C274C;
    justify-content: center; /* Centering horizontally */
	width: 500px;
	font-size: 14px;
	text-align: center; /* Centering horizontally */
	border-radius: 10px
}

/* ------------------------------------------------------------------------------
	Footer
-------------------------------------------------------------------------------*/
.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
}
.footer p {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #000000;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.footer a {
	color: #7f7f7f;
}
.footer a:hover {
	color: #e84545;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
    background: #000;
    border-radius: 12%;
    color: #fff;
    width: 40px; /* Increased width for bigger logos */
    height: 40px; /* Increased height for bigger logos */
    line-height: 40px; /* Match line-height with the height of the icons */
    text-align: center; /* Center content horizontally */
    font-size: 24px; /* Increased font size for larger content */
    padding: 0; /* Removed padding to keep the icon centered */
    margin: 0 5px; /* Added some margin between icons */
    display: inline-flex; /* Changed to inline-flex for better alignment */
    justify-content: center; /* Centering horizontally */
    align-items: center; /* Centering vertically */
}

.footer .footer-share a {
	color: #fff;
}
/* ------------------------------------------------------------------------------
	Inner Page Banner
-------------------------------------------------------------------------------*/

.innerbanner {
	background-color: #65349c;
	min-height: 100%;
}
.innerbanner-text {
	padding-top: 20%;
	padding-bottom: 5%;
}

.innerbanner-text p {
	color: #fff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}
/* ------------------------------------------------------------------------------
	Inner description
-------------------------------------------------------------------------------*/
.inner-description h1 {
	color: #3d3d3d;
	font-size: 23px;
	font-weight: 700;
	margin-top:55px;
}
.inner-description p {
	color: #3d3d3d;
	font-size: 18px;
	line-height: 33px;
	font-weight: 400;
}
.inner-description img
{
width:150px;
height:150px;
border-radius:50%;	
}


/* ------------------------------------------------------------------------------
	Contact form
-------------------------------------------------------------------------------*/
.conForm
{
margin-top:50px;	
}
.conForm input {
	background:#fafafa;
	color:#797979;
	padding:15px 30px;
	border:none;
	margin-right:3%;
	margin-bottom:30px;
	outline:none;
	font-style:normal;
	border:#f4f3f3 1px solid;
	font-size:15px;
}
.conForm input.noMarr {
	margin-right:0px;
}
.conForm textarea {
	background:#fafafa;
	color:#797979;
	padding:15px 30px;
	margin-bottom:18px;
	outline:none;
	height:300px;
	font-style:normal;
	resize:none;
	font-size:15px;
	border:#f4f3f3 1px solid;
}


.conForm .submitBnt {
	background:#3bc492;
	color: #fff;
		padding: 15px 40px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 5px;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}
.conForm .submitBnt:hover {
	background:#3d3d3d;
	color:#fff;
}
.error_message {
    color: #ff675f;
    font-weight: 500;
    padding-bottom: 15px;
}
#success_page h3 {
    color: #5ed07b;
    font-size: 17px;
    font-weight: 700;
}