@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype'); /* Replace 'path_to_your_font_file.ttf' with the actual path */
}

@font-face {
	font-family: 'Cascadia Code'; /* Specify the font name users will see */
	src: url('/fonts/CascadiaCode.ttf') format('truetype'); /* Replace '/fonts/cascadidiacode.ttf' with the actual path */
  }
  

p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	background-color: #3bc492;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 5px;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: #3d3d3d;
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.space {
	margin-top: 60px;	
}
/* Header */
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
}
#header .header-content {
	margin: 0 auto;
	padding: 0px 0;
	width: 100%;
	max-height: 100px;
	background-color: #fff; /* Set white background color */
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#header .logo {
	float: left;
	padding: 15px;
	margin-left: 120px;
	max-height: 100px;
}
#header.fixed .header-content {
	border-bottom: 0;
	padding: 2px 0;
}
#header.fixed .nav-toggle {
	top: 18px;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: rgba(0, 0, 0, 0.75);
	font-size: 17px;
	font-weight: 600;
	margin-left: 0px;
	margin-right: 120px;
	letter-spacing: 2px;
	line-height: 90px;
	text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
	color: #000000;
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #4b1685;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #4b1685;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
/* Banner */
.banner {
	background-color: #FAFAFA;
	min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%; /* Adjust as needed */
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto;
}
/* Hire me */
.hireme {
	background-color: #fafafa;
	width: 100%;
	z-index: 999;
	margin: 0 auto;
	padding: 80px 0;
	max-height: 150px;
}
.hireme h3 {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 200;
	margin-top: 0;
	letter-spacing: 7px;
	text-transform: uppercase;
}
.hireme p {
	color: #2d3033;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.hireme .btn {
	margin-top: 30px;
	color: #000000;
	background-color: #8C274C;
	justify-content: center; /* Centering horizontally */
	width: 500px;
	font-size: 14px;
	text-align: center; /* Centering horizontally */
	border-radius: 10px;
	padding: 20px; /* Adjust padding values as needed */

}
/* Footer */
.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
}
.footer p {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #000000;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.footer a {
	color: #7f7f7f;
}
.footer a:hover {
	color: #e84545;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	background: #000;
	border-radius: 12%;
	color: #fff;
	width: 40px; /* Increased width for bigger logos */
	height: 40px; /* Increased height for bigger logos */
	line-height: 40px; /* Match line-height with the height of the icons */
	text-align: center; /* Center content horizontally */
	font-size: 24px; /* Increased font size for larger content */
	padding: 0; /* Removed padding to keep the icon centered */
	margin: 0 5px; /* Added some margin between icons */
	display: inline-flex; /* Changed to inline-flex for better alignment */
	justify-content: center; /* Centering horizontally */
	align-items: center; /* Centering vertically */
}
.footer .footer-share a {
	color: #fff;
}
/* Inner Page Banner */
.innerbanner {
	background-color: #65349c;
	min-height: 100%;
}
.innerbanner-text {
	padding-top: 20%;
	padding-bottom: 5%;
}
.innerbanner-text p {
	color: #fff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}
/* Inner description */
.inner-description h1 {
	color: #3d3d3d;
	font-size: 23px;
	font-weight: 700;
	margin-top: 55px;
}
.inner-description p {
	color: #3d3d3d;
	font-size: 18px;
	line-height: 33px;
	font-weight: 400;
}
.inner-description img {
	width: 150px;
	height: 150px;
	border-radius: 50%;	
}


.portfolio .section-title {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10%; /* Round the borders */
    margin-right: 10px;
}

.portfolio-image {
    display: block;
    position: relative;
}

.portfolio-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while filling the box */

}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.portfolio-category {
    font-size: 16px;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}
