@import url('variables.css');

.text-content {
    flex-direction: column; /* Alinea los elementos en una columna */
    text-align: center; /* Alinea el texto al centro dentro de los elementos */
}

.text-content span {
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--secondary-text-color);

}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.portfolio-title {
    margin-bottom: 40px;
    text-align: center;
	font-size: 68px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: #ffffff; /* Color del texto negro */

}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columnas de igual tamaño */
    row-gap: 20px;
    column-gap: 30px; /* Ajusta el espacio entre columnas */
    width: 100%;
    max-width: 1550px; /* Ajusta el tamaño según sea necesario */
    margin-top: 30px;
}


.project-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 220px; /* Asegúrate de que haya suficiente altura para los elementos internos */
    position: relative; /* Permite que los elementos absolutos se posicionen dentro de este contenedor */
    width: 100%;
    box-sizing: border-box;
}


a.project-item {
    display: block;
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color: inherit; /* Mantiene el color del texto */
}

.project-item:hover {
    transform: scale(1.05);
}

.project-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: var(--primary-text-color);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    flex-shrink: 0; /* Evita que se encoja si el contenido es grande */
}

.project-description {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    margin-top: 10px;
    flex-grow: 1; /* Permite que este elemento ocupe el espacio disponible */
}

.project-tools {
    display: flex;
    flex-wrap: wrap; /* Permite que los ítems se distribuyan en varias líneas si es necesario */
    gap: 3px; /* Espacio entre cada herramienta */
    position: absolute; /* Posiciona las herramientas de manera absoluta */
    bottom: 14px; /* Alinea al fondo del contenedor, coincidiendo con el padding */
    left: 14px; /* Alinea con el padding izquierdo */
    right: 14px; /* Alinea con el padding derecho */
}

.project-tools span {
    background-color: var(--primary-text-color); /* Fondo más oscuro */
    color: #fff; /* Color del texto blanco */
    font-weight: bold; /* Texto en negrita */
    font-size: 12px;
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 12px; /* Bordes redondeados */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

@media (max-width: 768px) {
    .portfolio {
        padding: 30px 15px; /* Reduce el padding para pantallas pequeñas */
    }

    .text-content span {
        font-size: 12px;
        font-family: var(--font-family);
        color: var(--secondary-text-color);
    
    }

    .portfolio-title {
        font-size: 36px; /* Ajusta el tamaño del texto para pantallas pequeñas */
        margin-bottom: 20px; /* Reduce el margen inferior */
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
        column-gap: 15px; /* Ajusta el espacio entre columnas */
        row-gap: 15px; /* Ajusta el espacio entre filas */
        margin-top: 20px; /* Reduce el margen superior */
    }

    .project-item {
        height: auto; /* Permite que la altura se ajuste automáticamente */
        padding: 12px; /* Reduce el padding para pantallas pequeñas */
    }

    .project-title {
        font-size: 16px; /* Ajusta el tamaño del texto para pantallas pequeñas */
        margin-bottom: 4px; /* Reduce el margen inferior */
    }

    .project-description {
        font-size: 12px; /* Ajusta el tamaño del texto para pantallas pequeñas */
        margin-top: 6px; /* Ajusta el margen superior */
    }

    .project-tools {
        bottom: 10px; /* Ajusta la posición del contenedor de herramientas */
        left: 10px; /* Ajusta la posición del contenedor de herramientas */
        right: 10px; /* Ajusta la posición del contenedor de herramientas */
    }


    .project-tools {
        display: none; /* Oculta las herramientas en pantallas pequeñas */
    }
}