/* Variables de color y fuente */
@import url('variables.css');

.text-content {
    flex-direction: column; /* Alinea los elementos en una columna */
    text-align: center; /* Alinea el texto al centro dentro de los elementos */
}

.text-content span {
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--secondary-text-color);
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.skills-grid {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en lugar de forzarse en una sola fila */
    gap: 10px; /* Espacio entre los elementos de la cuadrícula */
    width: 100%;
    max-width: 1200px; /* Ajusta el tamaño según sea necesario */
    justify-content: center; /* Centra las columnas en la cuadrícula */
}

.skill-item {
    background-color: var(--item-color);
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    color: #333;
    padding: 10px 15px; /* Ajusta el padding según sea necesario */
    display: inline-block; /* Ajusta el ancho del elemento al contenido */
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
    overflow: hidden; /* Oculta el texto que excede el contenedor */
    text-overflow: ellipsis; /* Añade "..." al final del texto que se corta */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skill-item:hover {
    background-color: #f5f5f5; /* Color de fondo al pasar el ratón */
    transform: scale(1.05);
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .main-content {
        padding: 20px 15px; /* Aumenta el padding para dar más espacio en dispositivos móviles */
        width: 100%;
    }

    .text-content span {
        font-size: 12px;
        font-family: var(--font-family);
        color: var(--secondary-text-color);
    
    }
    
    .skills-grid {
        margin-top: 20px; /* Mantiene el margen superior para pantallas pequeñas */
        gap: 5px; /* Espacio entre los elementos */
    }

    .skill-item {
        font-size: 12px; /* Tamaño de la fuente reducido para pantallas pequeñas */
        padding: 8px 6px; /* Ajusta el padding para evitar que se vean apretados */
    }
    
    .text-content span {
        font-size: 12px; /* Ajusta el tamaño de la fuente de los spans en pantallas pequeñas */
    }
}