@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Italic-VariableFont_wght.ttf') format('ttf'),
         url('fonts/RobotoMono-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #F0F4F8; /* Fondo blanco para toda la página */
    --border-color: #E1E1E1; /* Fondo blanco para toda la página */
    --primary-text-color: #2D2D2D; /* Color de texto principal */
    --secondary-text-color: #4A4A4A; /* Color de texto secundario */
    --font-family: 'Roboto Mono', monospace;
    --item-color: #ffffff;
}
